html {
  font-size: 28px;
}

body {
  margin: 0;
  background-color: #eeeeee;
}

body > div {
  margin-top: 4rem;
}

#hero-container {
  margin: 0;
}

#img-piano {
  width: 100%;
}

#img-piano-phone {
  display: none;
}

.heading * {
  font-size: 2.5rem;
  margin: 0;
  color: #f15412;
}

.body-text {
  font-size: 1rem;
  line-height: 1.3;
}

.body-text ul {
  margin: 0;
}

.blue {
  color: #34b3f1 !important;
}

#traits-container {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-rows: 3rem max-content;
  grid-template-columns: 9rem 9rem auto;
}

#traits-container .heading {
  display: flex;
  justify-content: center;
  grid-column: span 2;
}

#traits-container .heading h2 {
  font-size: 2.2rem;
}

#traits-container .flute {
  grid-area: 1 / 3 / 3 / 4;
}

#traits-container ul {
  padding-left: 1.5rem;
}

#img-flute {
  width: 9.5rem;
  border: 4px solid #404040;
  margin-left: 1rem;
}

#experience-container {
  display: grid;
  justify-content: center;
  gap: 1.3rem;
  grid-template-rows: 10rem max-content;
  grid-template-columns: 8rem 50%;
}

#experience-container .body-text * {
  margin: 0.5rem 0 0 0;
}

.orchestra {
  grid-column: span 2;
}

#img-orchestra {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hobbies-container {
  display: grid;
  justify-content: center;
  gap: 1.3rem;
  grid-template-rows: 3rem min-content;
  grid-template-columns: 12rem max-content;
}

#hobbies-container .body-text {
  line-height: 2.3;
}

.sub-heading h2 {
  color: #f15412;
  font-size: 1.6rem;
  margin: 0;
}

.sub-heading h3 {
  color: #34b3f1;
  font-size: 1.23rem;
  margin: 0;
}

.uke {
  grid-row: span 2;
}

#img-uke {
  width: 100%;
  border-radius: 50%;
}

footer {
  background-color: #34b3f1;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

#copyright,
#links {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

footer p,
a {
  display: inline;
  margin: 0;
  font-size: 0.6rem;
}

footer a {
    margin-left: 1rem;
}

@media (max-width: 450px) {
  html {
    font-size: 10px;
  }

  body > div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 6rem;
  }

  .body-text {
    font-size: 1.6rem;
  }

  #img-piano {
    display: none;
  }

  #img-piano-phone {
    display: block;
    width: 100%;
  }

  #traits-container {
    grid-template-columns: auto 11rem;
    grid-template-rows: 3rem auto auto;
  }

  #traits-container .heading {
    grid-column: span 1;
  }

  #traits-container .flute {
    grid-area: 1 / 2 / 4 / 3;
  }

  #img-flute {
    width: calc(100% - 3px);
    border: 3px solid #404040;
    margin-left: 0;
  }

  #experience-container {
    grid-template-rows: 13rem max-content;
    grid-template-columns: 6.5rem auto;
  }

  #experience-container .heading {
    text-align: end;
    line-height: 3.5rem;
  }

  #hobbies-container {
    grid-template-rows: auto min-content;
    grid-template-columns: 13rem auto;
  }

  #hobbies-container .body-text {
    line-height: 1.3;
  }

  #hobbies-container ul {
    padding-left: 15px;
  }

  .sub-heading h2 {
    font-size: 1.9rem;
  }

  .sub-heading h3 {
    font-size: 1.46rem;
  }

  footer {
    justify-content: space-between;
    margin-top: 4rem;
  }

  footer div {
    margin: 0 4rem;
  }

  footer p,
  a {
    display: block;
    font-size: 1rem;
    margin: 0 0.2rem;
    line-height: 2.5rem;
  }

  #links {
    width: auto;
  }

  #links * {
    text-align: end;
  }
}
